<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Document</title>
    <style>
        .vuong{
            width: 100px;
            height: 100px;
            display: inline-block;
            background-color: gray;
            margin-top: 10px;
        }
        .do{
            background-color: red;
        }
        .xanhduong{
            background-color: blue;
        }
        .xanhlacay{
            background-color: green;
        }
    </style>
</head>
<body>
    <div id="obj">
        <div id="hello">hihi</div>
        <div v-html="textHtml" ></div>
        <div v-once >{{getnoidung()}}</div>
        <div>{{banphim()}}</div>
        <div>{{showPost()}}</div>
        <div>Điểm của học sinh : {{diem}}</div>
        <input type="text"  :value="diem" @input="event => diem = event.target.value"/>
        <!-- <button v-on:click="setDiem">Set Điểm</button> -->
        <!-- {{showBody()}}
        <a v-bind:href="link">facebookLink</a>


        <div>
            <h2 class="">Lắng nghe sự kiện</h2>
            <button v-on:click="addNumber">Add</button>
            <button v-on:click="dem++">Add Not create function</button>
            <p>{{ dem }}</p>
            <p v-on:mousemove="tinhToaDo">Toa do cua chuot {{ x }} / {{y}}</p>
            <div v-on:mousemove.stop="" class="">Stop sự kiện</div>
            <input type="text" @keyup.enter="banphim" name="" id="" />
        </div>

        <div class="">
            <h2>Binding data</h2>
            <div class="">
                <input type="text" v-model="name"/>
                <p>{{name}}</p>
                <p>{{sayHi()}}</p>
            </div>
        </div>
        -->
        <div class="">
            <h2>Optimize performance code</h2>
            <div class="">
                
                <p>Gia tri B: {{tangb}}</p>
                <p>Gia tri B: {{tangbf()}}</p>
                <p>Gia tri A: {{tanga}}</p>
                <p>Gia tri A: {{tangaf()}}</p>
                
                <button v-on:click="a++">Tang a</button>
                <button v-on:click="b++">Tang b</button>
            </div>
        </div>

        <div class="handle-css">
            <div class="vuong vuong-1" @click="handleChangeColor"></div>
            <div class="vuong vuong-2"  @click="handleChangeColor"></div>
            <div class="vuong vuong-3" @click="handleChangeColor"></div>


            
            <div class="vuong" :class="color"></div>
            <input type="text" v-model="color">
        </div>
    </div>

    <script>
            new Vue({
                el: "#obj",
                data:{
                    noidung: "noi dung ban dau",
                    body: "show body",
                    link:"https://www.facebook.com/nguyenngocdinh2000",
                    textHtml: "<a href='http://www.facebook.com'>Get Link Html</a>",
                    dem:0,
                    x:0,
                    y:0,
                    name:"Sky alert",
                    a:0,
                    b:0,
                    hi:"HIHHIHHIHIHHIHIHII",
                    diem: 0,
                    quanlydo:false,
                    color:"xanhlacay"
                },
                computed:{
                    tanga: function(){
                        console.log("computed a");
                        return this.a;
                    },
                    tangb: function(){
                        console.log("computed b");
                        return this.b;
                    },
                },
                watch:{
                    diem: function(newValue){
                        console.log("watch diem " + newValue);
                        if(newValue > 10){
                            console.log("watch diem " + "WARNING !!!");
                        }
                    }
                },
                methods:{
                    sayHello:function(){
                        console.log("function test say hello");
                        document.write("Hello")
                    },
                    
                    sayHi:function(){
                        console.log("function test say hi");
                        return this.hi;
                
                    },
                    showBody:function(){
                        console.log("function test say body");
                        return this.body;
                    },
                    showPost:function(){
                        
                        this.noidung = "noi dung da duoc updated";
                        console.log("function set: " + this.noidung);
                        return this.noidung;

                    },
                    addNumber:function(){
                        console.log("function test say dem");
                        this.dem++;
                    },
                    tinhToaDo:function(event){
                        console.log(event);
                        this.x =event.clientX;
                        this.y=event.clientY;
                    },
                    banphim:function(){
                        console.log("hello ban phim!");
                    },
                    tangaf: function(){
                        console.log("function a");
                        return this.a;
                    },
                    tangbf: function(){
                        console.log("function b");
                        return this.b;
                    },
                    getnoidung:function(){
                        console.log("function get: " + this.noidung);
                        return this.noidung;
                    },
                    setDiem:function(){
                        this.diem++;
                    },
                    handleChangeColor: function(event){
                        // for(i=1;i<5;i++){
                        // }
                        // console.log(event);
                        // const className=event.target.classList[1];
                     
                        // const element=document.querySelector(".vuong-2");
                        // console.log(element);

                        // element.classList.add("do");
                        

                        
                    }
                }
            })

    </script>
</body>
</html>
